<main class="chat">
    <div class="chat-container">
        <div class="chat-header">
            <h2>{{ username }}</h2>
        </div>
        <div class="chat-messages">
            <ul>
              <!-- Display sent and received messages -->
              <li *ngFor="let message of sentMessages" class="sent">
                <small>{{ message.senderName }} - {{ message.timestamp | date: 'hh:mm a' }}:</small>
                <div>{{ message.message }}</div>
              </li>
              <li *ngFor="let message of webSocketService.chatMessages" class="received">
                <small>{{ message.senderName }} - {{ message.timestamp | date: 'hh:mm a' }}:</small>
                <div>{{ message.message }}</div>
              </li>
            </ul>
          </div>
          
        <div class="chat-footer">
            <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm" class="message-form">
                <input type="text" class="message-input" name="message" id="input-message" placeholder="Type a message..." ngModel>
                <button type="submit" class="send-button">
                    <i class="fa fa-paper-plane"></i> Send
                </button>
            </form>
        </div>
    </div>
</main>
